<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Workr password reset token.{% endblock %}</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
        </style>
    </head>
    <body>
        <table bgcolor="#1890ff" width="600px">
            <tr>
                <td width="100%">
                    <h1 style="font-family: 'Pacifico', cursive; text-align: center; font-size: 5rem; color: white; margin: 12px 0;">
                        Workr
                    </h1>
                </td>
            </tr>
            <tr>
                <td align="center">
                   <table width="400px" style="padding: 24px; background-color: white; margin-bottom: 24px;">
                       <tr>
                           <td style="text-align: center;">
                               <p style="color: rgba(0,0,0,0.65); font-size: 1.5rem; margin: 0">
                                   Your reset token
                               </p>
                           </td>
                       </tr>
                       <tr>
                           <td style="text-align: center;">
                               <p style="color: rgba(0,0,0,0.65); font-size: 1.5rem; margin-bottom: 0;">
                                   {{ token }}
                               </p>
                           </td>
                       </tr>
                   </table>
                </td>
            </tr>
        </table>
    </body>
</html>
